@model HRM_System_UI.Models.Employee.DetailsEmployeeViewModel

@{
    ViewBag.Title = "Личная информация";
}

<h2>Личная информация</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDay)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирование", "EditInfo", new { id = Model.Id }) |
    @Html.ActionLink("Назад", "Index")
</p>
