@model IEnumerable<HRM_System_UI.Models.Employee.IndexEmployeeViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Список всех сотрудников</h2>

<p>
    @Html.ActionLink("Новый сотрудник", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartamentTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fired)
        </th>
        <th>
            <span>Статус: </span>
            <select id="filter" name="empStatus" class="control-label">
                <option value="all">Все</option>
                <option value="unfired">Работающие</option>
                <option value="fired">Уволенные</option>
            </select>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr class="employee">
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartamentTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
                @Html.HiddenFor(modelItem => item.Fired)
            </td>
            <td>
                @Html.CheckBoxFor(model => item.Fired, new { @disabled = "disabled" })
            </td>
            <td>
                @Html.ActionLink("Карьера", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Анкета", "Details", new { id = item.Id }) |
                @Html.ActionLink("Отпуск", "Vacation", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@section Scripts{
    <script>
        const filter = document.getElementById('filter');

        const defaultFilter = @Html.Raw(Json.Encode(ViewBag.Filter));

        filter.value = defaultFilter;

        filter.addEventListener('change', function () {
            console.log(this.value);
            filterList(this.value);
        });

            function filterList(filter) {
            console.log(filter);
            const link = document.createElement('a');
            link.href = '/Employees/Index?fired=' + filter;
            link.click();
        }

    </script>
}